<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PlayAlong
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PlayAlong</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item button (click)="goToTrackView(play)" *ngFor="let play of allPlays">
      <ion-label>
        {{ play.name }}
      </ion-label>
    </ion-item>
  </ion-list>
  <p>-------------------</p>
  <ion-list>
    <ion-item button (click)="goToTrackView(play)" *ngFor="let play of (playsFromDB | async)">
      {{ play.name }}
    </ion-item>
  </ion-list>
</ion-content>
