<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PlayAlong
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PlayAlong</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item button (click)="goToTrackView(play)" *ngFor="let play of allPlays">
      <ion-label>
        {{ play.name }}
      </ion-label>
    </ion-item>
    <!-- <ion-item button (click)="goToTrackView()"><strong>Track 1</strong></ion-item>
    <ion-item button (click)="goToTrackView()">Track 2</ion-item>
    <ion-item button (click)="goToTrackView()">Track 3</ion-item>
    <ion-item button (click)="goToTrackView()">Track 4</ion-item> -->
  </ion-list>
  <ion-list>

  </ion-list>
</ion-content>
